$black: #000000;
$white: #ffffff;
$theme-blue: #2783f3;
$theme-black: #03062f;
$theme-white: #f1f5f9;

$font-reg: "Inter-Regular", sans-serif;
$font-semi: "Inter-SemiBold", sans-serif;
$font-bold: "Inter-ExtraBold", sans-serif;
